@CHARSET "ISO-8859-1";

body {
	background: #333;
}
header {
	background:#eee;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	height:3%;
	margin-left:2%;
	margin-right:2%;
	margin-top:0.1%;
	border-radius:10px;
	padding-left:1%;
	padding-right:1%;
	
}
header > span {
	display:inline-block;
	height:100%;
	width:33%;
	text-align:center;
	font-size:x-large;
}

span font.time {
	margin-left:2px;
	padding:2px;
}
div.notes {
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	font-size:x-large;
	margin:2%;
	bottom:14%;
	padding:20px;
	background:#eee;
	border-radius:15px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    border-bottom:0px;
}

footer {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	text-align: center;
	height:16%;
	width:100%;
	background:#eee;
	
}
footer > span {
	height:100%;
	font-size: x-large;
}
footer > span:LAST-CHILD {
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	width:30%;
	margin-right:5%;
}
footer span#watch {
	left:0px;
	right:0px;
	top:0px;
	margin:auto;
}
footer span#watch button {
	font-size:x-large;
	height:50%;
}
footer > span:FIRST-CHILD {
	margin-left:-4px;
}

footer span#setLimit {
	display:block;
}
span.light {
	position:absolute;
	top:5%;
	right:5%;
	height:64px;
	width:64px;
	border-radius:5px;
	background:green;
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
span.overrun span.light {
	background:red;
}
span.finalSprint span.light  {
	background:orange;
}

span.midway span.light  {
	background:orange;
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
span.short span.light {
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	background:green;
}